  <div class="jumbotron bg-transparent text-center" >
      <div *ngIf="!user">
          <img src="assets/img/logo.png" style="margin-top: -7%"class="center">
          <h1 style="text-align:center;color:black;margin-top: -2%;margin-bottom: -2%">ISENkigAI</h1>
       
    
        <hr class="col-4 " style="margin-top:5%">
      
      <div class="card-block">
          <p style="color:black ">Se connecter avec Facebook:</p>
        <button class="btn btn-social-icon btn-facebook btn-lg btn-block container col-3" (click)="signInWithFB()"><span class="fa fa-facebook"></span></button>
      </div>
    </div>
  </div>